body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    background: #f4f4f4;
}
.sidebar {
    width: 18rem;
    background: #1f3d2b;
    color: white;
    padding: 20px;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar a {
    text-decoration: none;
    color: white;
}
.sidebar li {
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: 0.2s;
}
.sidebar li:hover,
.sidebar .active {
    background: #6aa84f;
}
.main-content {
    flex: 1;
}
.carousel-item img {
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}

.form-control::placeholder {
    color: rgba(255, 255, 255);
}