DB_HOST = "localhost"
DB_USER = "db_user"
DB_PASSWORD = "db_password"
DB_NAME = "db_name"

FLASK_HOST = "0.0.0.0"
FLASK_PORT = 5002

API_KEY = "api_key"

ARCGIS_USERNAME = "arcgis_username"
ARCGIS_PASSWORD = "arcgis_password"
ARCGIS_LAYER_URL = "https://services6.arcgis.com/ORG_ID/arcgis/rest/services/LAYER_NAME/FeatureServer/0"
ARCGIS_FIELDS_URL = "https://services6.arcgis.com/ORG_ID/arcgis/rest/services/LAYER_NAME/FeatureServer/0"